In [290]:
#PROBLEM 1: Factorial 
# The factorial of a number is the product of that number and all the numbers below it. For example, 5 factorial (denoted 5! in math) is 5 4 3 2 1, which is 120.

#Write a function called problem_1 that takes one positional argument number. The function should return the factorial of number as an integer.

#Example input/output:
#problem_1(5) => 120
#problem_1(10) => 3628800

#factorial = number * n-1, ... until number is 1
#multiply n by n-1 then "reset" n? until n=1

def problem_1(number):
    factorial = 1
    while(number>=1):
        factorial = factorial*number
        #factorial becomes the number (10 for ex), then number-1 so it becomes factorial (which is 10) times 9 (n-1), until n=1)
        number-=1
    
    return factorial

problem_1(10)

3628800

In [141]:
#PROBLEM 2: Guessing Game 
#enter passphrase with input()
#if correct return 1
#if wrong ask again 
#3 trials, then return 0 


def problem_2(passphrase):
    trials = 3
    while(trials>0):
        
        guess = input("Enter guess: ")
        if guess == passphrase:
            return 1
            break
        else:
            trials = trials-1
            continue 
        
    return 0
problem_2("hi")

Enter guess: hello
Enter guess: hello
Enter guess: hello

0

In [1]:
#convert temp (represented in original_format) to new_format
#celsius, fahrenheit, kelvin

def problem_3(temp,original_format,new_format):
    #CELSIUS TO FAHRENHEIT
    if original_format == "Celsius" and new_format == "Fahrenheit":
        converted_temp=1.8*temp+32
        return converted_temp
    #CELSIUS TO KELVIN
    elif original_format=="Celsius" and new_format=="Kelvin":
        converted_temp=temp+273.15
        return converted_temp
    elif original_format=="Kelvin" and new_format=="Celsius":
        converted_temp=temp-273.15
        return converted_temp
    elif original_format=="Kelvin" and new_format=="Fahrenheit":
        converted_temp=1.8*(temp-273.15)+32
        return converted_temp
    elif original_format=="Fahrenheit" and new_format=="Celsius":
        converted_temp=(temp-32)*0.56
        return converted_temp
    else:
        converted_temp=(temp-32)*0.56+273.15
        return converted_temp
        
problem_3(0.0,"Fahrenheit","Celsius")

-17.92

In [17]:
#PROBLEM 4: Exact Change 
#display amount of each type of coin to give to the customer
#positional argument: amount (in centavos)

def problem_4(amount):
    one_peso =int((amount-(amount%100))/100)
    twenty_five = int(((amount-(one_peso*100))-(amount-(one_peso*100))%25)/25)
    ten=int((amount-(((amount-(one_peso*100))-(amount-(one_peso*100))%25)+(amount-(amount%100))))/10)
    five=int((amount-((one_peso*100)+(twenty_five*25)+(ten*10)))/5)
    one=int(amount%5)
    final_text = f"1P:{one_peso}/25C:{twenty_five}/10C:{ten}/5C:{five}/1C:{one}"
    
    return final_text

problem_4(1006)

'1P:10/25C:0/10C:0/5C:1/1C:1'

In [5]:
#PROBLEM 5: Invert Capitalization
#return a string whos uppercase letters r lowercase and vv 
#leave spaces alone
#+32 - covert to upper case, -32 to lower case
#lower case starts at 97 upper starts at 65 

def problem_5(message):
    new_message=""
    for letter_1 in message:
        
        if ord(letter_1)<=90 and ord(letter_1)>=65:
            converted_letter=chr(ord(letter_1)+32)
            new_message=new_message+converted_letter
            
        elif ord(letter_1)<=122 and ord(letter_1)>=97:
            converted_letter=chr(ord(letter_1)-32)
            new_message=new_message+converted_letter
            
        else:
            new_message=new_message+" "
            
    return new_message
    
    
problem_5("HELLO MY NAME IS NINA")

'hello my name is nina'